<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}
<h1>Home</h1>
{% endblock %}


{% block content%}

{% load static %}
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="{% static '/images/1.jpeg'%}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="{% static '/images/2.jpeg'%}" class="d-block w-100" alt="...">
        
      </div>
      <div class="carousel-item">
        <img src="{% static '/images/3.jpeg'%}" class="d-block w-100" alt="...">
        
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



{% endblock %}






<!--<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       <h1>Home page</h1>
       <h2>Name is {{name}}</h2>
       <h2>Age is {{age}}</h2>
       <h2>Place is {{place}}</h2>

       {% if num1 > 0 %}
            <h2>Positive number</h2>
        {% elif num1 < 0 %}
             <h2>Negative number</h2>
        {% else %}
             <h2>Number is zero</h2>
        {% endif %}


        {% for n in num2%}
          <h2>{{n}}</h2>
        {%endfor%}

        {% for f in fruits %}
          <h2>{{f}}</h2>
        {%endfor%}


        <script src="" async defer></script>
    </body>
</html>